[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": "html_default_section flow" } ) -@]>

    [!- include "section-parts/forward.jinja" -!]

    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    <div class="html_heading_group">
    [!- endif -!]
        [!- if section.key_value_attributes.title -!]
        <h2>
            [@- section.key_value_attributes.title -@]
        </h2>
        [!- endif -!]
        [!- if section.key_value_attributes.subtitle -!]
        <div>
            [@- section.key_value_attributes.subtitle -@]
        </div>
        [!- endif -!]
    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    </div>
    [!- endif -!]

    [!- include "section-parts/preface.jinja" -!]

    <div class="content flow">
        [!- autoescape false -!]
        [@- section.category.content.text -@]
        [!- endautoescape -!]
    </div>

    [!- include "section-parts/afterword.jinja" -!]

[#- NOTE: this section close is intentional because there's
not really a case for spanning other sections so the `full``
version forwards here directly unlike most other sections -#]
</section>