[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": "SECTIONTYPE_section section_category_json flow" } ) -@]>
<!-- JSON Sections must be defined explicitly -->
</section>
