[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": "table_section section_category_table flow" } ) -@]>
<!-- Tables have not yet been defined -->
</section>
