[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, { "section": section, "classes": "title_section flow" } ) -@]>

    [#- START_NEOPOLIGEN_SOURCE_EXAMPLE -#]
    [!- if extra.example == true -!]
        <div class="neopolitan_source_wrapper">
            <h3>Source</h3>
            <pre><code>
                [!- autoescape true -!][@- section.source | trim -@][!- endautoescape -!]
            </code></pre>
            <h3 class="source_output_header">Output</h3>
            [!- if section_has_flag(section, "example_flag") == "true" -!]
                <div class="example_flag_note">(Found '--example_flag' section attribute flag)</div>
            [!- endif -!]
        </div>
    [!- endif -!]
    [#- END_NEOPOLIGEN_SOURCE_EXAMPLE -#]

    [!- if section.key_value_attributes.forward -!]
        <div class="forward">
            [@- section.key_value_attributes.forward -@]
        </div>
    [!- endif -!]

    [!- for content in section.category.content.containers -!]
        [!- if loop.first -!]
            <div class="page_title_subtitle_group">[@- '' -@]
                <h1 class="page_title">
                    [@- output_payload(page_id, content, extras) -@]
                </h1>
                [!- if section.key_value_attributes.subtitle -!]
                    <div class="page_subtitle">
                        [@- section.key_value_attributes.subtitle -@]
                    </div>
                [!- endif -!]
            </div>
        [!- endif -!]
    [!- endfor -!]

    [!- if section.key_value_attributes.preface -!]
        <div class="preface">
            [@- section.key_value_attributes.preface -@]
        </div>
    [!- endif -!]


<img src="[@- site.image(section.flag_attributes[0]).raw_href -@]">


 


    [!- if section.category.content.containers[1] -!]
    <div class="content">
    [!- endif -!]

        [!- for content in section.category.content.containers -!]
            [!- if not loop.first -!]
                <p>[@- output_payload(page_id, content, extras) -@]</p>
            [!- endif -!]
        [!- endfor -!]

    [!- if section.category.content.containers[1] -!]
    </div>
    [!- endif -!]

    [!- if section.key_value_attributes.afterword -!]
        <div class="afterword">
            [@- section.key_value_attributes.afterword -@]
        </div>
    [!- endif -!]

</section>

[@- '' -@]
