[!- include "includes/theme-variables.jinja" -!]
[!- import "includes/theme-macros.jinja" as theme -!]

<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-color: black;
  color: #678;
}
</style>
</head>
<body>
  <header>Testing: [@ page_id @]</header>
  <main>
    <article class="flow">
      [! for section in site.pages[page_id].ast !]
        [@ theme.render_section(section) @]
      [! endfor !]
    </article>
  </main>
</body>
</html>
