[!- import "includes/macros.jinja" as macros -!]
<section [@- section_attributes(page_id, {"section": section, "classes": "mp3_section standard_category_section flow" } ) -@]>
[@- site.mp3(section.flag_attributes[0]).raw_href -@]

