[!- import "includes/macros.jinja" as macros -!]
[!- include "includes/globals.jinja" -!]

<!DOCTYPE html>
<html lang="en">
<head>[!- include "includes/head.jinja" -!]</head>
<body>
  [!- include "includes/header.jinja" -!]
  <main>
    [!- include "includes/sidebar.jinja" -!]
    <article class="flow">
      [!- include "includes/breadcrumbs.jinja" -!]
      [@- macros.place_section(page_id, "title") -@]
        <h1>#Shorts</h1>
      [@- macros.main_body(page_id) -@]
      [!- include "includes/neo-source.jinja" -!]
    </article>
  </main>
  [!- include "includes/footer.jinja" -!]
</body>
</html>