[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": "yaml-example_default_section yaml_section flow" } ) -@]>
<!-- YAML Sections must be defined explicitly -->