@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
  --size-base: 16px;
  --size-1: 3.157rem;
  --size-2: 2.369rem;
  --size-3: 1.777rem;
  --size-4: 1.333rem;
  --size-5: 1rem;
  --size-6: 0.75rem;
  --size-7: 0.564rem;
}

:root, [data-scheme="light"] {
  --color-scheme: light;
  --color-background: oklch(93.076% 0.03467 92.999);
  --color-link: oklch(53.076% 0.13467 92.999);
  --color-text: oklch(33.076% 0.03467 92.999);
  --bw-match: rgb(255 255 255);
  --bw-match-90: rgb(255 255 255 / 90%);
  --bw-match-80: rgb(255 255 255 / 80%);
  --bw-match-70: rgb(255 255 255 / 70%);
  --bw-match-60: rgb(255 255 255 / 60%);
  --bw-match-50: rgb(255 255 255 / 50%);
  --bw-match-40: rgb(255 255 255 / 40%);
  --bw-match-30: rgb(255 255 255 / 30%);
  --bw-match-20: rgb(255 255 255 / 20%);
  --bw-match-10: rgb(255 255 255 / 10%);
  --bw-reverse: rgb(0 0 0);
  --bw-reverse-90: rgb(0 0 0 / 90%);
  --bw-reverse-80: rgb(0 0 0 / 80%);
  --bw-reverse-70: rgb(0 0 0 / 70%);
  --bw-reverse-60: rgb(0 0 0 / 60%);
  --bw-reverse-50: rgb(0 0 0 / 50%);
  --bw-reverse-40: rgb(0 0 0 / 40%);
  --bw-reverse-30: rgb(0 0 0 / 30%);
  --bw-reverse-20: rgb(0 0 0 / 20%);
  --bw-reverse-10: rgb(0 0 0 / 10%);
  --border-bw-match: 1px solid var(--bw-match);
  --border-bw-match-40: 1px solid var(--bw-match-40);
  --border-bw-reverse: 1px solid var(--bw-reverse);
  --border-bw-reverse-40: 1px solid var(--bw-reverse-40);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: dark;
    --color-background: oklch(16.009% 0.03076 39.927);
    --color-link: oklch(76.009% 0.13076 159.927);
    --color-text: oklch(96.009% 0.03076 339.927);
    --bw-match: rgb(0 0 0);
    --bw-match-90: rgb(0 0 0 / 90%);
    --bw-match-80: rgb(0 0 0 / 80%);
    --bw-match-70: rgb(0 0 0 / 70%);
    --bw-match-60: rgb(0 0 0 / 60%);
    --bw-match-50: rgb(0 0 0 / 50%);
    --bw-match-40: rgb(0 0 0 / 40%);
    --bw-match-30: rgb(0 0 0 / 30%);
    --bw-match-20: rgb(0 0 0 / 20%);
    --bw-match-10: rgb(0 0 0 / 10%);
    --bw-reverse: rgb(255 255 255);
    --bw-reverse-90: rgb(255 255 255 / 90%);
    --bw-reverse-80: rgb(255 255 255 / 80%);
    --bw-reverse-70: rgb(255 255 255 / 70%);
    --bw-reverse-60: rgb(255 255 255 / 60%);
    --bw-reverse-50: rgb(255 255 255 / 50%);
    --bw-reverse-40: rgb(255 255 255 / 40%);
    --bw-reverse-30: rgb(255 255 255 / 30%);
    --bw-reverse-20: rgb(255 255 255 / 20%);
    --bw-reverse-10: rgb(255 255 255 / 10%);
  --border-bw-match: 1px solid var(--bw-match);
  --border-bw-match-40: 1px solid var(--bw-match-40);
  --border-bw-reverse: 1px solid var(--bw-reverse);
  --border-bw-reverse-40: 1px solid var(--bw-reverse-40);
  }
}

[data-scheme="black"] {
  --color-scheme: dark;
  --color-background: black;
  --color-link: #ff0;
  --color-text: white;
  --bw-match: rgb(0 0 0);
  --bw-match-90: rgb(0 0 0 / 90%);
  --bw-match-80: rgb(0 0 0 / 80%);
  --bw-match-70: rgb(0 0 0 / 70%);
  --bw-match-60: rgb(0 0 0 / 60%);
  --bw-match-50: rgb(0 0 0 / 50%);
  --bw-match-40: rgb(0 0 0 / 40%);
  --bw-match-30: rgb(0 0 0 / 30%);
  --bw-match-20: rgb(0 0 0 / 20%);
  --bw-match-10: rgb(0 0 0 / 10%);
  --bw-reverse: rgb(255 255 255);
  --bw-reverse-90: rgb(255 255 255 / 90%);
  --bw-reverse-80: rgb(255 255 255 / 80%);
  --bw-reverse-70: rgb(255 255 255 / 70%);
  --bw-reverse-60: rgb(255 255 255 / 60%);
  --bw-reverse-50: rgb(255 255 255 / 50%);
  --bw-reverse-40: rgb(255 255 255 / 40%);
  --bw-reverse-30: rgb(255 255 255 / 30%);
  --bw-reverse-20: rgb(255 255 255 / 20%);
  --bw-reverse-10: rgb(255 255 255 / 10%);
  --border-bw-match: 1px solid var(--bw-match);
  --border-bw-match-40: 1px solid var(--bw-match-40);
  --border-bw-reverse: 1px solid var(--bw-reverse);
  --border-bw-reverse-40: 1px solid var(--bw-reverse-40);
}

[data-scheme="white"] {
  --color-scheme: light;
  --color-background: white;
  --color-link: #00f;
  --color-text: black;
  --bw-match: rgb(255 255 255);
  --bw-match-90: rgb(255 255 255 / 90%);
  --bw-match-80: rgb(255 255 255 / 80%);
  --bw-match-70: rgb(255 255 255 / 70%);
  --bw-match-60: rgb(255 255 255 / 60%);
  --bw-match-50: rgb(255 255 255 / 50%);
  --bw-match-40: rgb(255 255 255 / 40%);
  --bw-match-30: rgb(255 255 255 / 30%);
  --bw-match-20: rgb(255 255 255 / 20%);
  --bw-match-10: rgb(255 255 255 / 10%);
  --bw-reverse: rgb(0 0 0);
  --bw-reverse-90: rgb(0 0 0 / 90%);
  --bw-reverse-80: rgb(0 0 0 / 80%);
  --bw-reverse-70: rgb(0 0 0 / 70%);
  --bw-reverse-60: rgb(0 0 0 / 60%);
  --bw-reverse-50: rgb(0 0 0 / 50%);
  --bw-reverse-40: rgb(0 0 0 / 40%);
  --bw-reverse-30: rgb(0 0 0 / 30%);
  --bw-reverse-20: rgb(0 0 0 / 20%);
  --bw-reverse-10: rgb(0 0 0 / 10%);
  --border-bw-match: 1px solid var(--bw-match);
  --border-bw-match-40: 1px solid var(--bw-match-40);
  --border-bw-reverse: 1px solid var(--bw-reverse);
  --border-bw-reverse-40: 1px solid var(--bw-reverse-40);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

td {
  vertical-align: top;
}

/* end reset */

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.aside-section {
  background-color: var(--bw-reverse-10);
  margin-left: 6rem;
  margin-right: 0.6rem;
  border: var(--border-bw-reverse);
  border-radius: 0.3rem;
  padding-inline: 1.3rem;
  padding-block: 0.8rem;
}

.aside-title {
  font-weight: bold;
}

blockquote {
  margin: 1.3rem;
  padding: 1.3rem;
  border: 1px solid var(--color-charlie-40);
  border-radius: 0.3rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--size-base);
  line-height: 1.6;
  font-family: 'Inter';
}

button {
  border: 1px solid var(--color-alfa);
  border-radius: 0.2rem;
  color: var(--color-alfa);
  background-color: transparent;
  font-family: inherit;
  padding-inline: 0.2rem;
  cursor: pointer;
}

.cli-block {
  padding: 0.8rem;
  background-color: var(--color-black-30);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.cli-title {
  border-bottom: 1px solid var(--color-bravo-20);
  color: var(--color-bravo-60);
  font-size: var(--size-8);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.cli-subtitle {
  border-bottom: 1px solid var(--color-bravo-10);
}

.cli-wrapper {
  font-size: var(--size-8);
  padding: 0.5rem;
  background-color: var(--color-black-30);
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
}

.code-block {
  font-size: var(--size-8);
  margin-left: 3rem;
  padding-left: 0.5rem;
  padding-top: 0.7rem;
  border-left: 1px solid var(--color-delta);
  background-color: var(--color-black-30);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.code-block-no-nums {
  padding: 0.8rem;
  background-color: var(--color-black-30);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.code-button-wrapper {
  position: relative;
}

.code-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.code-title {
  border-bottom: 1px solid var(--color-bravo-20);
  color: var(--color-bravo-60);
  font-size: var(--size-8);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.code-wrapper {
  font-size: var(--size-8);
  background-color: var(--color-black-30);
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.fin-token {
  padding-block: 3rem;
  text-align: center;
  color: var(--color-charlie-80);
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1em);
}

footer {
  max-width: 62ch;
  margin: auto;
  min-height: 5rem;
  padding-inline: 1rem;
}

.footnote-number {
  border-right: 1px solid var(--color-charlie-40);
}

.footnote-ref {
  display: grid;
  grid-template-columns: 2ch 1fr 4ch;
  gap: 20px;
}

.footnote-return-arrow {
  border-left: 1px solid var(--color-charlie-40);
}

.green {
  color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-alfa);
  line-height: 1.1;
  text-wrap: balance;
  font-weight: 900;
}

h1 {
  font-size: var(--size-1);
  margin-top: 1em;
}

h2 {
  font-size: var(--size-2);
  margin-top: 1.3em;
  border-bottom: 1px solid var(--color-charlie);
}

h3 {
  font-size: var(--size-3);
  margin-top: 1.15em;
}

h4 {
  font-size: var(--size-4);
}

h5 {
  font-size: var(--size-5);
}

h6 {
  font-size: var(--size-6);
}

header {
  max-width: 62ch;
  margin: auto;
  padding-inline: 1rem;
}

header a {
  color: var(--color-charlie);
}

.highlight .cli-wrapper,
.highlight .code-wrapper,
.highlight .link-wrapper,
.highlight .pre-wrapper {
  border-color: red;
}

hr {
  margin-block: 1.5rem;
}

.html-output-wrapper {
  font-size: var(--size-8);
  background-color: var(--color-black-30);
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.html-section-show {
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
  padding: 0.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.line-numbers {
  counter-reset: lineNumber;
}

.line-marker {
  counter-increment: lineNumber;
}

.line-marker:before {
  color: var(--color-foxtrot-60);
  content: counter(lineNumber);
  display: inline-block;
  margin-left: -7.5ch;
  padding-right: 2.7ch;
  text-align: end;
  width: 7.5ch;
}

.link-block {
  padding: 0.5rem;
}

.link-title {
  border-bottom: 1px solid var(--color-bravo-20);
  color: var(--color-bravo-60);
  font-family: monospace;
  font-size: var(--size-8);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.link-wrapper {
  font-size: var(--size-5);
  padding: 0.3rem;
  background-color: var(--color-black-30);
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
}

main {
  max-width: 62ch;
  margin: auto;
  padding-inline: 1rem;
}

.new-tab-arrow {
  color: var(--color-black-40);
}

.note-section {
  border: 1px solid var(--color-delta);
  border-radius: 0.3rem;
  margin-top: 1.6rem;
  margin-inline: 0.6rem;
  padding-block: 0.74rem;
  padding-inline: 1.3rem;
}

.note-title {
  font-weight: bold;
}

.pad-top-1 {
  padding-top: 1rem;
}

.photo {
  display: grid;
  place-items: center;
  margin-block: 3rem 4rem;
}

.photo img {
  background-color: black;
  padding: 2px;
  border-top: 8vmin solid #f4f5f8;
  border-left: 8vmin solid #f4f5f8;
  border-right: 8vmin solid #f4f5f8;
  border-bottom: 10vmin solid #f4f5f8;
  max-height: min(94vh, 98vb);
  max-width: min(94vw, 98vi, 100%);
}

.pre-block {
  font-family: monospace;
  background-color: var(--color-black-30);
  overflow-wrap: break-word;
  padding: 0.8rem;
  white-space: pre-wrap;
}

.pre-title {
  border-bottom: 1px solid var(--color-bravo-20);
  color: var(--color-bravo-60);
  font-family: monospace;
  font-size: var(--size-8);
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.pre-wrapper {
  font-size: var(--size-8);
  background-color: var(--color-black-30);
  border: 1px solid var(--color-bravo-10);
  border-radius: 0.3rem;
  padding: 0.4rem;
}

.red {
  color: red;
}

.under-construction {
  padding: 2rem;
  border: 1px solid var(--color-alfa);
  border-radius: 0.3rem;
  margin: 2rem;
}

.warning-section {
  border: 1px solid var(--color-foxtrot);
  border-radius: 0.3rem;
  margin-top: 1.6rem;
  margin-inline: 0.6rem;
  padding-block: 0.74rem;
  padding-inline: 1.3rem;
}

.warning-title {
  font-weight: bold;
}
