@font-face {
  font-family: 'Inter';
  src: url('/theme/fonts/Inter-VariableFont_slnt,wght.ttf')
    format('opentype');
}

:root {
  --color-background: black;
  --color-alfa: #ccc;
  --width-alfa: 68ch;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-alfa);
  font-family: 'Inter';
}

img {
  max-width: 100%;
  display: block;
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

main {
  max-width: var(--width-alfa);
  margin-top: 0;
  margin-inline: auto;
  align-items: start; 
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

main > :first-child {
  flex-basis: 180px;
  flex-grow: 1;
}

main > :last-child{
  flex-basis: 500px;
  flex-grow: 9999;
}


