@font-face {
  font-family: 'Inter';
  src: url('/theme/fonts/Inter-VariableFont_slnt,wght.ttf') format('opentype');
}

:root {
  --color-background: black;
  --color-alfa: #ccc;
  --width-alfa: 88ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-alfa);
  font-family: 'Inter';
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

img {
  max-width: 100%;
  display: block;
}

.numberedLines {
  counter-reset: lineNumber;
}

.numberedLine {
  counter-increment: lineNumber;
}

.numberedLine:before {
  display: inline-block;
  color: goldenrod;
  content: counter(lineNumber);
  padding-right: 0.7rem;
  text-align: right;
  width: 2rem;
}

.testBlue {
  color: blue;
}

.testGreen {
  color: green;
}

.testRed {
  color: red;
}

.two-column {
  max-width: var(--width-alfa);
  margin-top: 0;
  margin-inline: auto;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.two-column > :first-child {
  flex-basis: 20ch;
  flex-grow: 1;
  outline: 1px solid blue;
}

.two-column > :last-child {
  flex-basis: 62ch;
  flex-grow: 9999;
}
