[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, { "section": section, "classes": "h2_section flow" } ) -@]>

    [!- if section.key_value_attributes.forward -!]
        <div class="forward">
            [@- section.key_value_attributes.forward -@]
        </div>
    [!- endif -!]

    [!- for content in section.category.content.containers -!]
        [!- if loop.first -!]
            <div class="h2_heading_group">[@- '' -@]
                <h2>
                    [@- output_payload(page_id, content, extras) -@]
                </h2>
                [!- if section.key_value_attributes.subtitle -!]
                    <div>
                        [@- section.key_value_attributes.subtitle -@]
                    </div>
                [!- endif -!]
            </div>
        [!- endif -!]
    [!- endfor -!]


    [!- if section.key_value_attributes.preface -!]
        <div class="preface flow">
            [@- section.key_value_attributes.preface -@]
        </div>
    [!- endif -!]

    [!- if section.category.content.containers[1] -!]
    <div class="content flow">
    [!- endif -!]
        [!- for content in section.category.content.containers -!]
            [!- if not loop.first -!]
                <p>[@- output_payload(page_id, content, extras) -@]</p>
            [!- endif -!]
        [!- endfor -!]
    [!- if section.category.content.containers[1] -!]
    </div>
    [!- endif -!]

    [!- if section.key_value_attributes.afterword -!]
        <div class="afterword flow">
            [@- section.key_value_attributes.afterword -@]
        </div>
    [!- endif -!]

</section>

