[#- type: standard -#]
[!- import "includes/macros.jinja" as macros -!]

<data [@- macros.span_attributes(page_id, span.content) -@]>
[!- for span in span.content.spans -!]
[@- macros.output_spans(page_id, span, {}) -@]
[!- endfor -!]
</data>
