[#- type: key-value -#]
[!- import "includes/macros.jinja" as macros -!]

<a href="[@- site.page_href(span.content.value) -@]" 
[!- for attribute in span.content.key_value_attributes -!]
[@- ' ' -@]
[@- attribute -@]="[@- span.content.key_value_attributes[attribute] -@]"
[!- endfor -!]
[!- for flag in span.content.flag_attributes -!]
[!- if loop.first != true -!]
[@- ' ' -@]
[@- flag -@]
[!- endif -!]
[!- endfor -!]>
[!- for span in span.content.spans -!]
[@- macros.output_spans(page_id, span, {}) -@]
[!- endfor -!]
</a>