[!- set show_example = "off" -!]

[!- set menu = site.collection_from_files_and_folders(page_id, [
    ["2auhjdnh"],
    ["2dcmgjan"],
    ["under-construction"]
]) -!]

[!- set blog_links = site.collection_from_tags(page_id, ["blog"]) -!]

[!- set tech_blog_links = site.collection_from_tags(page_id, ["tech-blog"]) -!]

[!- set shorts_links = site.collection_from_tags(page_id, ["shorts"]) -!]
