[!- import "includes/macros.jinja" as macros -!]
<div class="sidebar">

<h4>Details</h4>
[@- macros.nav_menu(menu) -@]

<h4>Blog</h4>
[@- macros.nav_links(blog_links) -@]

<h4>Tech Blog</h4>
[@- macros.nav_links(tech_blog_links) -@]

<h4>[@- site.link_or_title(page_id, "2dpcupti") -@]</h4>
[@- macros.nav_links(shorts_links) -@]

</div>
