[#- type: standard -#]
[!- import "includes/macros.jinja" as macros -!]
<object [@- macros.span_attributes(span.content) -@]></object>


~~~~~~~~~~

-- title

Span: object

-- subtitle

The Object Element

-- p

TODO: 

object|#|
  type: video/mp4|
  data: https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm|
  width: 600|
  height: 140


-- note

Right now there has to be something between the
two pipes in the span (i.e. where the
"#" is). TODO: made an update so the "#"
isn't required


-- metadata
-- date: 2024-02-03 03:13:57
-- id: 2brkg9qc
-- status: published

