[!- import "includes/macros.jinja" as macros -!]

<section [@- section_attributes(page_id, {"section": section, "classes": "html_section flow" } ) -@]>

    [!- if section.key_value_attributes.forward -!]
        <div class="forward flow">
            [@- section.key_value_attributes.forward -@]
        </div>
    [!- endif -!]

    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    <div class="html_heading_group">
    [!- endif -!]
        [!- if section.key_value_attributes.title -!]
        <h2>
            [@- section.key_value_attributes.title -@]
        </h2>
        [!- endif -!]
        [!- if section.key_value_attributes.subtitle -!]
        <div>
            [@- section.key_value_attributes.subtitle -@]
        </div>
        [!- endif -!]
    [!- if section.key_value_attributes.title or section.key_value_attributes.subtitle -!]
    </div>
    [!- endif -!]

    [!- if section.key_value_attributes.preface -!]
        <div class="preface flow">
            [@- section.key_value_attributes.preface -@]
        </div>
    [!- endif -!]

    <div class="content flow">
        [!- autoescape false -!]
        [@- section.category.content.text -@]
        [!- endautoescape -!]
    </div>

    [!- if section.key_value_attributes.afterword -!]
        <div class="afterword flow">
            [@- section.key_value_attributes.afterword -@]
        </div>
    [!- endif -!]

